CUSTOM PROPERTIES :root {
  --primary: #c92d2d;
  --secondary: #fff;
  --terciary: #262626;
  --text-color-primary: #333;
  --text-color-secondary: #777;
}

/* FONT PATH */

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
    url("../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
    url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
    url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

/* STYLE BASE */

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body,
html {
  font-family: "Raleway", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 300;
  width: 100% !important;
  height: 100% !important;
}

h2 {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 34px;
  color: var(--text-color-primary);
  text-transform: uppercase;
}
h3 {
  font-size: 22px;
  font-weight: 500;
  color: var(--text-color-primary);
}
h4 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-primary);
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 16px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}

p.text__description {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 40px;
}

a {
  color: var(--primary);
}
a:hover,
a:focus {
  text-decoration: none;
  color: #222;
}
ul,
ol {
  list-style: none;
  webkit-padding: 0;
  moz-padding: 0;
}

/* * html {
  height: 1%;
} */

ul,
ol {
  padding: 0;
  /* webkit-padding: 0; */
  /* moz-padding: 0; */
}

.section-title hr {
  margin: 0 auto;
  margin-bottom: 40px;
}

/* hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #c92d2d;
  margin: 0;
  margin-bottom: 40px;
  border: 0;
} */

/* OTHER STYLES */

h1 {
  color: var(--primary);
}
