---
---

<section id="sobre_nosotros" class="section-about">
  <div class="section-about__container">
    <img
      src="/assets/portfolio/multirivel.png"
      alt="multiravel"
      class="section-about__img"
      loading="lazy"
    />
  </div>
  <div class="section-title section-about__container">
    <h2>NUESTRA EMPRESA</h2>
    <hr />
    <h3><strong>Multirival Construction SL</strong></h3>
    <p class="section-about__text">
      Multirivel es una empresa de construcción fundada en Málaga por una
      familia. A lo largo de los años, nos hemos dedicado a la construcción de
      edificios residenciales, Chalets y Villas en Marbella. Nuestra experiencia
      y compromiso con la calidad y la excelencia han sido la clave de nuestro
      éxito.
    </p>
  </div>
</section>

<style>
  h2 {
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 34px;
    color: #333;
    text-transform: uppercase;
  }

  hr {
    height: 2px;
    width: 70px;
    position: relative;
    background: #c92d2d;
    margin: 0;
    margin-bottom: 40px;
    border: 0;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    color: #333;
  }

  .section-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    padding: 20px;
    text-align: center;
  }

  .section-about__img {
    max-width: 100%;
    height: auto;
  }

  .section-about__text {
    width: 500px;
    line-height: 24px;
    margin: 15px 0 30px;
    font-size: 16px;
  }
</style>
