<a href="/" class="text-home">HOME</a>

<style>
  .text-home {
    font-weight: 500;
    font-size: 15px;
    border: 2px solid transparent;
    letter-spacing: 0.5px;
    padding: 10px 15px;
    display: flex;
    align-items: flex-end;
    color: var(--secondary);
  }

  .text-home:hover {
    color: var(--primary);
  }
</style>
