<section id="budget" class="budget-section">
  <h2>Solicita tu presupuesto</h2>
  <p>¡Sin compromiso!</p>
  <h3>632 507 635</h3>
</section>

<style>
  .budget-section {
    padding: 90px 0;
    color: #fff;
    background: black;
    text-align: center;
  }

  .budget-section h2,
  h3,
  p {
    font-family: "Open Sans", sans-serif;
  }

  .budget-section h2 {
    font-size: 34px;
    color: #fff;
    font-weight: 400;
    margin: 0;
  }

  .budget-section p {
    font-size: 22px;
  }

  .budget-section h3 {
    font-size: 42px;
    margin: 20px;
    font-weight: 400;
    color: #fff;
  }
</style>
