<section id="team" class="team-section">
  <div class="overly">
    <div class="team-container">
      <div class="container__title">
        <h2>Conoce al Equipo</h2>
        <hr />
        <p>
          Somos más que un equipo, somos una familia comprometida con el éxito.
        </p>
      </div>
      <div class="container__team">
        <article class="article__card">
          <img src="/assets/team/01.jpg" alt="Gustavo picture" width="280" />
          <h3>Gustavo Duque</h3>
          <p>
            En nuestra empresa, el fundador y dueño es un padre comprometido que
            lidera con valores familiares. Él se dedica a construir un equipo
            comprometido con la excelencia, brindando un servicio excepcional en
            cada proyecto. Su pasión y liderazgo son la fuerza impulsora detrás
            de todo lo que hacemos.
          </p>
        </article>
        <article class="article__card">
          <img
            src="/assets/team/02.jpg"
            alt="Carlos Rios picture"
            width="280"
          />
          <h3>Carlos Rios Velez</h3>
          <p>
            Uno de los hijos del fundador es el jefe de obra en nuestra empresa.
            Él trae consigo una rica experiencia en gestión de proyectos y
            liderazgo en el sitio de trabajo. Su dedicación a la calidad y
            atención al detalle se refleja en cada proyecto en el que trabaja.
            Junto con nuestro equipo comprometido, él trabaja para ofrecer un
            servicio excepcional y cumplir con las expectativas de nuestros
            clientes.
          </p>
        </article>
        <article class="article__card">
          <img src="/assets/team/03.jpg" alt="Wilder picture" width="280" />
          <h3>Wilder Ríos Velez</h3>
          <p>
            Nuestro Project Manager, uno de los hijos del fundador, lidera y
            supervisa todos los proyectos de construcción. Con su amplia
            experiencia en gestión de proyectos, garantiza la entrega de cada
            proyecto dentro del presupuesto y a tiempo. Trabajando con nuestro
            equipo comprometido, él asegura que cada proyecto cumpla con los más
            altos estándares de calidad y satisfacción del cliente.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>

<style>
  .team-section {
    color: #fff;
    background: #444 url("/assets/team/team-bg.avif") center top no-repeat fixed;
    background-size: cover;
    text-align: center;
  }

  .overly {
    padding: 120px 80px;
    background: rgba(0, 0, 0, 0.6);
  }

  .container__title h2 {
    color: #fff;
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 34px;
  }

  .container__title hr {
    color: #fff;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .container__title p {
    font-size: 22px;
    margin: 0 0 10px;
  }

  .container__team {
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
    justify-content: center;
    text-align: center;
  }

  article {
    flex: 0 0 calc(33.33% - 20px); /* Ajusta el ancho de cada artículo según tus necesidades */
    margin: 10px; /* Ajusta los márgenes según tus necesidades */
  }

  .article__card h3 {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin: 5px 0;
  }

  .article__card p {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 10px;
    font-size: 15px;
  }

  .article__card img {
    margin: 10px 30px;
    /* box-sizing: border-box;
    border: 1px solid white;
    padding: 2px;
    margin: -2px; */
  }
</style>
